<!DOCTYPE html>
<html>
<head>
	<title>profile</title>
</head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
</style>
<body style="background-color:powderblue;">
<h1 style="text-align:center;">MY RESUMING</h1>

<h1 style="font-size:30px;">MY skills</h1>
<ul>
	<!-- This is a comment -->
	<li><b>DATA STRUCTURE</b></li>
	<!-- Comments are not displayed in the browser -->

	<li><b>MACHINE LEARNING</b></li>
	<li><b>DJANGO</b></li>
</ul>
<hr>
<h1>My Achivement</h1>
<ol>
	<li>I got <b>38 </b>rank in hdfc bank machine learning hiring challange on hackerearth.</li>
	<a style="color:red" href="https://www.hackerearth.com/challenge/hiring/hdfc-bank-ml-hiring-challenge/leaderboard/">VIEW LEADERBOARD</a>
	<li>I secured top <mark>3% </mark>rank in hackerearth machine learning challange#6</li>
</ol>
<p><b>MY goal is to:</b> <q>Build a future where people live in harmony with nature.</q></p>

</body>
</html>